RewriteEngine On
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

RewriteRule (css|jpg|png|gif|js|swf)$ - [L]

RewriteRule ^/$ index.php [L]
RewriteRule ^home$ /home/ [L]
RewriteRule ^home/$ /home.php [L]

RewriteRule ^about-us$ /about-us/ [L]
RewriteRule ^about-us/$ /about-us.php [L]

RewriteRule ^experiences$ /experiences.php [L]
RewriteRule ^experiences/(.+)?$ /experiences.php?page=$1 [L]

RewriteRule ^austin$ /austin.php [L]
RewriteRule ^austin/(.+)?$ /austin.php?page=$1 [L]

RewriteRule ^giftcards$ /giftcards.php [L]
RewriteRule ^giftcards/(.+)?$ /giftcards.php?page=$1 [L]

RewriteRule ^privatesale$ /privatesale.php [L]
RewriteRule ^privatesale/(.+)?$ /privatesale.php?page=$1 [L]

#RewriteRule ^hana$ /hana/ [L]
#RewriteRule ^hana/$ /hana.php [L]

RewriteRule ^hana$ /hana.php [L]
RewriteRule ^hana/(.+)?$ /hana.php?page=$1 [L]

RewriteRule ^contact-us$ /contact-us/ [L]
RewriteRule ^contact-us/$ /contact-us.php [L]

RewriteCond %{HTTP_HOST} ^184\.106\.113\.117
RewriteRule (.*) http://www.travaasa.com/$1 [R=301,L]

# Redirect all traffic from www.travaasa.com to just travaasa.com
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# 404 page
 ErrorDocument 404 /404.php
